body {
    font-family: 'Sarabun', sans-serif;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

/* ------- override ant design ------- */

.ant-menu-item-group-title{
    color: #464545;
    font-size: 14px;
    font-weight: bold;
}

.ant-menu{
    color: #464545;
}

.ant-steps-item #tracking-tail{
  height:80px ;
}

.ant-table{
    overflow-x: auto;
}

.ant-table .ant-table-thead th{
    background-color: #E88044;
    color: #ffffff;
}

.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background: #e88044;
}

.ant-table-thead > tr > th.ant-table-column-sort {
    background: #e88044;
}

.ant-menu-submenu-title .anticon, .ant-menu-item .anticon {
    font-size: 18px;
}

.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon, 
.ant-menu-inline-collapsed > .ant-menu-item .anticon {
    font-size: 18px;
}

.ant-layout-sider-children{
    box-shadow: rgba(0, 0, 0, 0.18) 1px 2px 2px
}

.ant-table-wrapper{
    overflow: hidden;
}

.ant-input-group #border{
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 30px 10px 0px 10px;
}